.button {
	padding: 5px 10px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.light {
	background-color: #eef;
}

.dark {
	background-color: #338;
	color: #fff;
}

.active {
	pointer-events: none;
}

.light.active,
.light.button:hover {
	background-color: #88f;
}

.dark.active,
.dark.button:hover {
	background-color: #000;
}

.tab {
	margin: 2px;
}

.clear {
	background-color: #f88;
}

.l {
	padding: 10px 25px;
}

.s {
	padding: 2px 5px;
}